In [119]:
import pandas as pd
import numpy as np
import seaborn as sbn

In [120]:
df = pd.read_csv(
    './adult.data.csv',
    delimiter=',',
    header=0,
)

In [121]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [122]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [123]:
# What is the average age of men?
round(df[df['sex'] == 'Male']['age'].mean(), 1)

39.4

In [124]:
# What is the percentage of people who have a Bachelor's degree?
num_bachelors = len(df[df['education'] == 'Bachelors'])
num_df = len(df)
round((num_bachelors / num_df)* 100, 1)

16.4

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

In [125]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_education =  df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

# percentage with salary >50K
    # higher stadistics
high_education_salary = len(higher_education[higher_education['salary'] == '>50K'])
higher_education_rich = round((high_education_salary /len(higher_education) * 100), 1)

    # lower stadistics
low_education_salary = len(lower_education[lower_education['salary'] == '>50K'])
lower_education_rich = round((low_education_salary /len(lower_education) * 100), 1)
lower_education_rich

17.4

In [130]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours= df['hours-per-week'].min()
min_work_hours

1

In [156]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == min_work_hours]

rich_percentage = len(num_min_workers[num_min_workers['salary'] == '>50K']) / len(num_min_workers) * 100
rich_percentage

10.0

In [172]:
# What country has the highest percentage of people that earn >50K?
countrys = df['native-country'].value_counts()

rich_countrys = df[df['salary'] == '>50K']['native-country'].value_counts()
rich_countrys

highest_earning_country = round(rich_countrys / countrys * 100, 1).idxmax()
highest_earning_country
    
    
highest_earning_country_percentage = round((rich_countrys / countrys * 100).max(), 1)
highest_earning_country_percentage

'Iran'

In [188]:
# Identify the most popular occupation for those who earn >50K in India.
rich_indian = df[df['salary'] == '>50K'][df['native-country'] == 'India']
top_IN_occupation = rich_indian['occupation'].value_counts().idxmax()
# top_IN_occupation = None

/tmp/ipykernel_768/1165769663.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rich_indian = df[df['salary'] == '>50K'][df['native-country'] == 'India']

'Prof-specialty'